<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mama.server.main.dao.OrderDao">
  
 	<resultMap id="BaseResultMap" type="com.mama.server.main.dao.model.OrderPo" >
	    <id column="orderId" property="orderId" jdbcType="VARCHAR" />
	    <result column="uid" property="uid" jdbcType="VARCHAR" />
	    <result column="houseId" property="houseId" jdbcType="INTEGER" />
	    <result column="freezeAmt" property="freezeAmt" jdbcType="INTEGER" />
	    <result column="totalAmt" property="totalAmt" jdbcType="INTEGER" />
	    <result column="payAmt" property="payAmt" jdbcType="INTEGER" />
	    <result column="status" property="status" jdbcType="INTEGER" />
	    <result column="verifyCode" property="verifyCode" jdbcType="VARCHAR" />
	    <result column="operTime" property="operTime" jdbcType="VARCHAR" />
	    <result column="liveDetail" property="liveDetail" jdbcType="VARCHAR" />
	    <result column="removed" property="removed" jdbcType="INTEGER" />
	    <result column="totalRoomNum" property="totalRoomNum" jdbcType="INTEGER" />
	    <result column="retentionTime" property="retentionTime" jdbcType="VARCHAR" />
	    <result column="cancelOrdeReason" property="cancelOrdeReason" jdbcType="VARCHAR" />
	    <result column="pay_type" property="pay_type" jdbcType="VARCHAR" />
	    <result column="shopId" property="shopId" jdbcType="INTEGER" />
	    <result column="orderType" property="orderType" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List" >
	    orderId, uid, houseId, freezeAmt, totalAmt,payAmt,status, verifyCode, operTime,liveDetail,removed,totalRoomNum,retentionTime,
	    cancelOrdeReason,pay_type,shopId,orderType
	  </sql>
  
  <insert id="insertOrder" parameterType="com.mama.server.main.dao.model.OrderPo">
    INSERT INTO tOrder(orderId,uid,houseId,freezeAmt,totalAmt,payAmt,status,verifyCode,totalRoomNum,operTime,liveDetail,retentionTime,cancelOrdeReason,pay_type,orderType,shopId) 
    VALUES(#{orderId},#{uid},#{houseId},#{freezeAmt},#{totalAmt},#{payAmt},#{status},#{verifyCode},#{totalRoomNum},#{operTime},#{liveDetail},#{retentionTime},#{cancelOrdeReason},#{pay_type},#{orderType},#{shopId})
  </insert>
  
  <update id="updateOrder" parameterType="com.mama.server.main.dao.model.OrderPo">
    UPDATE tOrder SET orderId = orderId
    <if test="uid != null">
      ,uid=#{uid}
    </if>
    <if test="houseId != null and houseId != 0">
      ,houseId=#{houseId}
    </if>
    <if test="freezeAmt != null and freezeAmt != 0">
      ,freezeAmt=#{freezeAmt}
    </if>
    <if test="totalAmt != null and totalAmt != 0">
      ,totalAmt=#{totalAmt}
    </if>
    <if test="payAmt != null and payAmt != 0">
      ,payAmt=#{payAmt}
    </if>
    <if test="status != null and status != 0">
      ,status=#{status}
    </if>
    <if test="verifyCode != null">
      ,verifyCode=#{verifyCode}
    </if>
    <if test="totalRoomNum != null and totalRoomNum != 0">
      ,totalRoomNum=#{totalRoomNum}
    </if>
    <if test="operTime != null">
      ,operTime=#{operTime}
    </if>
    <if test="liveDetail != null">
      ,liveDetail=#{liveDetail}
    </if>
    <if test="retentionTime != null">
      ,retentionTime=#{retentionTime}
    </if>
    <if test="cancelOrdeReason != null">
      ,cancelOrdeReason=#{cancelOrdeReason}
    </if>
    <if test="settleStatus != null">
      ,settleStatus=#{settleStatus}
    </if>
    WHERE orderId = #{orderId}
  </update>
  
  <select id="getOrderByAllParam" resultType="com.mama.server.main.dao.model.OrderPo" parameterType="com.mama.server.main.dao.model.OrderPo" useCache="true">
    SELECT orderId,uid,houseId,freezeAmt,totalAmt,payAmt,status,verifyCode,DATE_FORMAT(operTime,'%Y-%m-%d %H:%i:%s') operTime,liveDetail,removed,totalRoomNum
    ,DATE_FORMAT(retentionTime,'%Y-%m-%d %H:%i:%s') retentionTime,cancelOrdeReason,pay_type,orderType,shopId FROM tOrder
    WHERE 1 = 1
    <if test="orderId != null">
      and orderId=#{orderId}
    </if>
    <if test="uid != null">
      and uid=#{uid}
    </if>
    <if test="status != null and status != 0">
      and status=#{status}
    </if>
    <if test="verifyCode != null">
      and verifyCode=#{verifyCode}
    </if>
    <if test="orderType != null and orderType != 0">
      and orderType=#{orderType}
    </if>
 	  order by operTime desc
  </select>
  
  <select id="getOrderClickFarming" resultType="com.mama.server.main.dao.model.OrderPo" parameterType="com.mama.server.main.dao.model.OrderPo" useCache="true">
    SELECT * FROM tOrder o,T_Order_ClickFarming c
    WHERE o.orderId=c.orderId and o.uid=c.uid 
    and c.uid=#{uid} and o.status in(11)
  </select> 
  
  <insert id="insertClickFarming" parameterType="com.mama.server.main.dao.model.OrderPo">
    INSERT INTO T_Order_ClickFarming(uid,orderId) 
    VALUES(#{uid},#{orderId})
  </insert>
  
  
  <insert id="insertFlow" parameterType="com.mama.server.main.dao.model.FlowPo">
    INSERT INTO tFlow(operTime,amt) 
    VALUES(NOW(),#{amt})
  </insert>
 
	<!--  根据orderId查询OrderPo对象记录信息 -->
	<select id="queryOrderPoByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List" />
	    from tOrder
	    where orderId = #{orderId,jdbcType=VARCHAR}
	</select>
</mapper> 