<html>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no, email=no"/>
	<title>妈妈送房</title>
	<style>
		a[title='站长统计'] {
			display: none;
		}
	</style>
	<body>
		<input id="orderId" value="$!orderId" type="hidden" />

		<!-- <script async="async" src="https://s11.cnzz.com/z_stat.php?id=1260334725&web_id=1260334725" language="JavaScript"></script>
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?16bdd41cf636456d27c6dd2c1e2723b3";
			  var s = document.getElementsByTagName("script")[0];
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script>
			//声明_czc对象:
			var _czc = _czc || [];
			//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
			_czc.push(["_setAccount", "1260334725"]);
		</script> -->
		<script>
			window.orderId = document.getElementById('orderId').value;
		</script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript" src="#springUrl('/assets/js/mmsf/config.js?v=201701061600')"></script>
		<script type="text/javascript" src="#springUrl('/assets/js/mmsf/bundle.js?v=201701061600')"></script>
	</body>
</html>
