.row {
  width: 100%;
  margin: 0 auto 0.714rem auto;
  font-size: 0;
  position: relative;
  z-index: 9;

  .img {
    width: 100%;
    height: 13.143rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
