<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>妈妈送房</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <link rel="stylesheet" href="#springUrl('/assets/css/amazeui.min.css')"/>
  <link rel="stylesheet" type="text/css" href="#springUrl('/assets/css/reset.css')">
  <link rel="stylesheet" type="text/css" href="#springUrl('/assets/css/ucenter.css')">
  <link rel="stylesheet" type="text/css" href="#springUrl('/assets/css/register_v2.css')">
  <link rel="stylesheet" type="text/css" href="#springUrl('/assets/css/index.css')">
  <script type="text/javascript" src="#springUrl('/assets/js/jquery.min.js')"></script>
  <script type="text/javascript" src="#springUrl('/assets/js/amazeui.min.js')"></script>
  <script type="text/javascript" src="#springUrl('/assets/js/common.js')"></script>
  <script type="text/javascript" src="#springUrl('/assets/js/count-time.js')"></script>
  <script type="text/javascript">
    var adaptPageClass = "content";
  </script>
</head>
<body>
  <div class="body content">
    <header class="header clearfix">
       <div class="head">
        <a class="back ui-link" href="#springUrl('/my/usercenter.htm')"  tdata-rel="back">返回</a>
        <div class="title header_title" id="header-title">个人信息</div>
       </div>
    </header>
  <div class="am-container am-ucenter-body-list am-margin-top bc-white">
    <div class="am-g am-ucenter-title am-backcolor-ff border-top">
      <div class="am-u-sm-2">
        <img src="#springUrl('/assets/i/register_v2/icon_phone.png')" class="am-ucenter-icon">
      </div>
      <div class="am-u-sm-10 am-ucenter-pad0 color-left-text">
        手机号
            <!--div class="am-ucenter-next">
                <img src="#springUrl('/assets/i/ucenter/next.png')" />
            </div-->
            <div class="am-ucenter-service color-right-text">
                $!response.data.userInfo.phone
            </div>
      </div>
    </div>
    <div class="am-g am-ucenter-title am-backcolor-ff" onclick="myCardTotal()">
      <div class="am-u-sm-2">
        <img src="#springUrl('/assets/i/register_v2/icon_diamond.png')" class="am-ucenter-icon">
      </div>
      <div class="am-u-sm-10 am-ucenter-pad0 color-left-text">
        会员等级 
            <div class="am-ucenter-next">
                <img src="#springUrl('/assets/i/ucenter/next.png')" />
            </div>
            <div class="am-ucenter-service color-right-text">
                $!response.data.userInfo.level
            </div>
      </div>
    </div>
    <div class="am-g am-ucenter-title am-backcolor-ff" onclick="changeNickName()">
      <div class="am-u-sm-2">
        <img src="#springUrl('/assets/i/register_v2/icon_person.png')" class="am-ucenter-icon">
      </div>
      <div class="am-u-sm-10 am-ucenter-pad0 color-left-text">
        我的昵称 
            <div class="am-ucenter-next">
                <img src="#springUrl('/assets/i/ucenter/next.png')" />
            </div>
            <div class="am-ucenter-service color-right-text">
              $!response.data.userInfo.nickName
            </div>
      </div>
    </div>
    <div class="am-g am-ucenter-title am-backcolor-ff"  onclick="confirmRealName($!response.data.phoneInfo.verified)">
      <div class="am-u-sm-2">
        <img src="#springUrl('/assets/i/register_v2/icon_card.png')" class="am-ucenter-icon">
      </div>
      <div class="am-u-sm-10 am-ucenter-pad0 color-left-text">
        实名认证
            <div class="am-ucenter-next">
                <img src="#springUrl('/assets/i/ucenter/next.png')" />
            </div>
			#if($!response.data.phoneInfo.verified == 1)
            <div class="am-ucenter-service color-right-text">
                已认证
            </div>
			#else
				  <div class="am-ucenter-service color-right-text">
                未认证
            </div>
			#end
      </div>
    </div>
    <div class="am-g am-ucenter-title am-backcolor-ff"  onclick="changeEmail()">
      <div class="am-u-sm-2">
        <img src="#springUrl('/assets/i/register_v2/icon_email.png')" class="am-ucenter-icon">
      </div>
      <div class="am-u-sm-10 am-ucenter-pad0 color-left-text">
        我的邮箱 
            <div class="am-ucenter-next">
                <img src="#springUrl('/assets/i/ucenter/next.png')" />
            </div>
			#if($!response.data.userInfo.email != '')
				<div class="am-ucenter-service color-right-text">
               		已绑定
            </div>
			#else	
            <div class="am-ucenter-service color-right-text">
					未绑定
            </div>
			#end
      </div>
    </div>
    <div class="am-g am-ucenter-title am-backcolor-ff" onclick="changePassword()">
      <div class="am-u-sm-2">
        <img src="#springUrl('/assets/i/register_v2/icon_pwd.png')" class="am-ucenter-icon">
      </div>
      <div class="am-u-sm-10 am-ucenter-pad0 color-left-text">
        登录密码
            <div class="am-ucenter-next">
                <img src="#springUrl('/assets/i/ucenter/next.png')" />
            </div>
            <div class="am-ucenter-service color-right-text">
                点击修改
            </div>
      </div>
    </div>
  </div>

  </div>
 <script type="text/javascript">
 function checkdata () {
    var re = 0; 
    $(".reg_err_div").each(function(){
      var is_rel = $(this).hasClass("div_hidden");
      if(is_rel != true){
        re = 1;
        return false;
      }
    });
    $("input[need='need']").each(function(){
      var val = $(this).val();
      if(val == ''){
        re = 1;
        return false;
      }
    });
    //验证通过
    if(re == 0){
      alert("验证通过，可以注册！");
    }
 }
 
 function changeNickName(){
       self.location.href='#springUrl('/my/changeNickName.htm')';
     }
	 
	  function confirmRealName(type){
       self.location.href='#springUrl('/my/confirmRealName.htm?type=')'+type;
     }
	 
	  function changeEmail(){
       self.location.href='#springUrl('/my/changeEmail.htm')';
     }
	 
	  function changePassword(){
       self.location.href='#springUrl('/my/changePassword.htm')';
     }
	 function myCardTotal(){
       self.location.href='#springUrl('/my/myvip.htm')';
     }
 </script>
</body>
</html>