@import './variable.less';

.container {
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 99;
}

.loadingContainer {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -3.571rem;
  margin-top: -3.571rem;
  width: 7.143rem;
  height: 7.143rem;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  border-radius: 5px;
}

.text {
  display: inline-block;
  text-align: center;
  color:#fff;
  font-size: 0.8rem;
}