<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- value="mssql58|mssql12|oracle|mysql|db2" -->
	<properties>
		<property name="dialect" value="mysql" />
	</properties>

	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
		<typeAlias alias="user" type="com.console.entity.TSysUser" />
		<typeAlias alias="role" type="com.console.entity.TSysRole" />
		<typeAlias alias="resource" type="com.console.entity.TSysResource" />
		<typeAlias alias="roleresource" type="com.console.entity.TSysRoleResource" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.console.framework.dialect.PaginationInterceptor" />
	</plugins>

	<mappers>
		<mapper resource="orm/UserMapper.xml" />
		<mapper resource="orm/RoleMapper.xml" />
		<mapper resource="orm/ResourceMapper.xml" />
	</mappers>
</configuration>