<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>赠送旅居劵</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-cache" />
		<link rel="stylesheet" href="../assets/css/amazeui.min.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/order_what.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/trade.css" />
		<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
		<script type="text/javascript" src="../assets/js/common.js"></script>
		<script src="../assets/js/TouchSlide.1.0.source.js"></script>
		<script type="text/javascript">
			var adaptPageClass = "content";
		</script>
	</head>

	<body class="bg-ee">
		<div class="body content ">
			<header class="bg-fb">
				<div class="head">
					<a class="back ui-link" id="back" tdata-rel="back">返回</a>
					<div class="title header_title" id="header-title">赠送旅居劵</div>
					
				</div>
			</header>
			<div class="w-100 mt-11 pl-10 pr-10">
				<div class="text-color-69">Q1:赠送他人后未成功领取礼品？</div>
				<div class="fs-1 text-color-91 tj mt-11">
					A: 您好，您购买的商品赠送给朋友后，在10个工作日内未领取礼
						品，您购买的商品会转回到您的账户中，您可以继续送礼或联系客
						服退款。
				</div>
			</div>
			
			<div class="w-100 mt-11 pl-10 pr-10">
				<div class="text-color-69">Q1:赠送他人后未成功领取礼品？</div>
				<div class="fs-1 text-color-91 tj mt-11">
					A: 您好，您购买的商品赠送给朋友后，在10个工作日内未领取礼
						品，您购买的商品会转回到您的账户中，您可以继续送礼或联系客
						服退款。
				</div>
			</div>
		</div>
	</body>

</html>