@border-radius: 4px;
.banner {
	height:19.8rem;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 1.1rem 0.6rem;
	box-sizing: border-box;
	margin-bottom: 0.7rem;
	background-image: url('/assets/i/mmsf/search-banner.png');
}

.pad {
	box-sizing: border-box;
	padding: 0.7rem 0.6rem;
	border-radius: 8px;
	background-color: rgba(233,233,233,0.5);
}

.destination {
	color:#b5b5b5;
	height:3rem;
	padding: 0 0.5rem;
	line-height: 3rem;
	background-color: #fff;
	border-radius: @border-radius;
	margin-bottom: 0.7rem;
	position: relative;
	.arrow {
		width:1.6rem;
		position: absolute;
		display: inline-block;
		right: 0.8rem;
		top:50%;
		margin-top: -0.8rem;
	}
}

.datePicker {
	border-radius: 8px;
}

.btnCont {
	margin-top: 0.7rem;
}

.recommendCont {
	padding-bottom: 1.5rem;
}
